<a href="https://colab.research.google.com/github/izzat-khmdv/MIDTERM/blob/main/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#creating table for vehicles
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/vehicles")

In [2]:
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS vehicles (
      vhcl_data_id,
      vh_id,
      reg_id,
      manufacturer,
      model,
      color,
      current_odometr,
      pass_capacity
      );''')

     print("vehicles Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

vehicles Table created successfully

In [3]:
#inserting data into vehicles table
r_set=my_conn.execute('''INSERT INTO `vehicles`
(`vhcl_data_id`, `vh_id`, `reg_id`, `manufacturer`, `model`, `color`, `current_odometr`, `pass_capacity`) VALUES
(1, 'V1000', '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4),
(2, 'V1001', '2006 AFD', 'Kia', 'K7', 'Black', 2195, 4),
(3, 'V1002', '2021 AHR', 'Tesla', '2020 F', 'White', 509, 4),
(4, 'V1003', '2020 DXF', 'Ford', 'Transit', 'Silver', 974, 2); ''')

In [4]:
#creating table for vehicles_work
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/vehicles_work")

In [5]:
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS vehicles_work (vhcl_work_id, 
      m_or_r, 
      odometr, 
      the_final_cost, 
      action, 
      date);''')
     print("vehicles_work Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

vehicles_work Table created successfully

In [6]:
#inserting data into vehicles_work
r_set=my_conn.execute('''INSERT INTO `vehicles_work`
(`vhcl_work_id`, `m_or_r`, `odometr`, `the_final_cost`, `action`, `date`) VALUES
(1, 'maintenance', '569', '$270', 'engine maintenance', '2022-06-13'),
(2, 'repair', '7564', '$699', 'conditioning system repair', '2022-06-20'),
(3, 'maintenance', '852', '$410', 'salon maintenance', '2022-06-25'); ''')

In [7]:
#creating tables for country_participants
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/country_participants")

In [8]:
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS country_participants (country_id,
      country_name,
      languages);''')
     print("country_participants Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

country_participants Table created successfully

In [9]:
#populating the country_participants tables with data
r_set=my_conn.execute('''INSERT INTO `country_participants`
(`country_id`, `country_name`, `languages`) VALUES
(1, 'ISO 3166-2:KR', 'Korean'),
(2, 'ISO 3166-2:KZ', 'Kazakh'),
(3, 'ISO 3166-2:DE', 'German'),
(4, 'ISO 3166-2:UZ', 'Uzbek'),
(5, 'ISO 3166-2:PH', 'Filipino'),
(6, 'ISO 3166-2:NL', 'English'),
(7, 'ISO 3166-2:GB', 'English'),
(8, 'ISO 3166-2:RU', 'Russian'); ''')

In [10]:
#creating table for game_officials
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/game_officials")

In [11]:
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS game_officials (offcl_id,
      country_name,
      city_id,
      offcl_name,
      role,
      pr_language);''')
     print("game_officials Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

game_officials Table created successfully

In [12]:
#populating game_officials table with data
r_set=my_conn.execute('''INSERT INTO `game_officials`
(`offcl_id`, `country_name`, `city_id`, `offcl_name`, `role`, `pr_language`) VALUES
(1, 'Korea', 45457888, 'Kim Tae Yoon', 'coach', 'Korean'),
(2, 'Kazakhstan', 43889933, 'Baltabaev Kadir', 'physician', 'Russian'),
(3, 'Germany', 22455433, 'Daniel Friedman', 'coach', 'English'),
(4, 'Uzbekistan', 55669900, 'Izzat Khamidov', 'judge', 'English'),
(5, 'Philippines', 66889922, 'Emily Karinira', 'coach', 'English'),
(6, 'Netherlands', 77883399, 'Samantha Barmunt', 'judge', 'English'),
(7, 'Great Britain', 77881141, 'James Cordon', 'physician', 'English');''')

In [13]:
#creating driver table
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/driver")

In [14]:
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS driver (driver_id,
      drv_name,
      license_number,
      clearence_level,
      language,
      STLVT_date,
      STLVT_level,
      FATL_date,
      FATL_level);''')
     print("driver Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

driver Table created successfully

In [15]:
#inserting data into driver table
r_set=my_conn.execute('''INSERT INTO `driver`
(`driver_id`, `drv_name`, `license_number`, `clearence_level`, `language`, `STLVT_date`, 
`STLVT_level`, `FATL_date`, `FATL_level`) VALUES
(1, 'James', '48989487830HHHLK22', 'Confidential', 'English', '2018-08-22', 4, '2017-03-13', 8),
(2, 'PakJiMin', '993478GGG74OP1112', 'Confidential', 'Korean', '2016-11-02', 3, '2020-04-10', 7),
(3, 'Ivan', '00883377712UUTH99', 'Confidential', 'Russian', '2021-06-09', 2, '2022-02-18', 6);''')

In [16]:
#creating trip table
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/trip")

In [17]:
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS trip (trip_id,
      booking_ref_num,
      start_datetime,
      end_datetime,
      odo_start,
      odo_end);''')
     print("trip Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

trip Table created successfully

In [18]:
#populating trip table with data
r_set=my_conn.execute('''INSERT INTO `trip`
(`trip_id`, `booking_ref_num`, `start_datetime`, `end_datetime`, `odo_start`, `odo_end`) VALUES
(1, 22022, '2022-10-13-12:44', '2022-10-13-15:00', 440, 460),
(2, 90032, '2022-10-14-15:30', '2022-10-14-16:12', 670, 698),
(3, 12220, '2022-10-15-10:30', '2022-10-15-12:05', 309, 331);''')

In [19]:
#creating pickup table
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/pickup")

In [20]:
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS pickup (num_id,
      city,
      street_num,
      location_type);''')
     print("pickup Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

pickup Table created successfully

In [23]:
#inserting data into pickup table
r_set=my_conn.execute('''INSERT INTO `pickup`
(`num_id`, `city`, `street_num`, `location_type`) VALUES
(1, 'Seoul', 'Yongjin-ro 2200', 'Hotel'),
(2, 'Incheon', 'Songdo-do 2230', 'Hotel'),
(3, 'Seoul', 'Yongsan-gu 12200', 'Hotel');''')

In [24]:
#creating dropoff table
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/dropoff")

In [25]:
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS dropoff (num_id,
      city,
      street_num,
      location_type);''')
     print("dropoff Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

dropoff Table created successfully

In [26]:
#inserting data into dropoff table
r_set=my_conn.execute('''INSERT INTO `dropoff`
(`num_id`, `city`, `street_num`, `location_type`) VALUES
(1, 'Suwon', 'Chanchin-gu 54400', 'Park'),
(2, 'Incheon', 'Michuhol-gu 22200', 'Cetral Office'),
(3, 'Busan', 'Dangeun-ro 66699', 'Hotel');''')